[Unit]
Description=Gitea server container

[Container]
Image=docker.gitea.com/gitea:1.27.0
ContainerName=gitea-server
Mount=type=bind,src=/var/lib/containers/storage/volumes/gitea,dst=/data,chown=true
Mount=type=bind,src=/etc/localtime,dst=/etc/localtime,ro
Pod=gitea.pod
AddCapability=NET_BIND_SERVICE
User=1000
Group=1000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target