[Container]
Image=docker.io/kanidm/server:1.8.5
HostName=idm.koakuma
Mount=bind,src=/var/lib/containers/storage/volumes/kanidm,dst=/data

[Service]
Restart=always

[Install]
WantedBy=default.target