[Unit]
Description=Kanidm server container

[Container]
Image=docker.io/kanidm/server:1.8.5
HostName=idm.koakuma
Mount=type=bind,src=/var/lib/containers/storage/volumes/kanidm,dst=/data
Pod=kanidm.pod
AddCapability=NET_BIND_SERVICE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target